# Generated inventory
[local]
localhost ansible_connection=local ansible_python_interpreter=auto_silent

{# [primary_host]
{{ proxmox.api_host }} ansible_user={{ proxmox.ssh_user  }}  hostname={{ proxmox.nodes[0].name }} #}

[proxmox_hosts]
{% for host in proxmox_hosts %}
{{ host.ip }} hostname={{ host.hostname }}
{% endfor %}

[k3_nodes]
{% for node in k3_nodes %}
{{ node.ip }} ansible_user={{ node.ssh_user }} hostname={{ node.hostname | default(node.name) }}
{% endfor %}

[all:vars]
gateway_ip={{ network.gateway_ip  }}
ntp_ip={{ network.ntp_ip }}
